<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student manager</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    {% comment %} <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/newbase.css' %}">  {% endcomment %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro&display=swap" rel="stylesheet">

    
  </head>
  <body>

    <nav>
      <div class="toggle">
        <a href="{% url 'class:home' %}">Class Manager</a>
        <i class="fa fa-bars menu"></i>
      </div>
    </nav>
    <div class="sidebar">
      <ul>
        {% if user.is_authenticated %} 
        {% if user.is_teacher%}
          <li> <a href="{% url 'class:upload_assignment' %}">Upload Assignment</a> </li>
          <li> <a href="{% url 'class:assignment_list' %}">Assignment list</a> </li>
          <li> <a href="{% url 'class:submit_list' %}">View Submissions</a> </li>
          <li> <a href="{% url 'class:students_list' %}">All Students List</a> </li>
          <li> <a href="{% url 'class:class_student_list'%}">Class Students List</a> </li>
          <li> <a href="{% url 'class:write_notice' %}">Write Notice</a> </li>
          <li> <a href="{% url 'class:messages_list' pk=user.pk %}">Inbox</a> </li>
          <li> <a href="{% url 'class:teacher_detail' pk=user.pk %}">Profile</a> </li>
          {% else %}
          <li> <a href="{% url 'class:all_marks_list' pk=user.pk %}">Marks</a> </li>
          <li> <a href="{% url 'class:class_notice' pk=user.pk %}">Class Notice</a> </li>
          <li> <a href="{% url 'class:class_assignment' %}">Class Assignment</a> </li>
          <li> <a href="{% url 'class:teachers_list' %}">Teacher list</a> </li>
          <li> <a href="{% url 'class:student_detail' pk=user.pk %}">Profile</a> </li>
          {% endif %}
          <li> <a href="{% url 'class:change_password' %}">Change Password</a> </li>
          <li> <a href="{% url 'class:logout' %}">Logout</a> </li>
          {% else %}
          <li><a class="head-left" href="{% url 'class:login' %}">Login</a></li>
          <li><a class="head-left" href="{% url 'class:signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>

      {% block content %}{% endblock content %}


      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.menu').click(function(){
            $('ul').toggleClass('active');
          })
        })
      </script>

  </body>
</html>
